<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#1b2735">
    <link rel="manifest" href="{{ asset('/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="description" content="Preston">
    <link rel="icon" sizes="192x192" href="{{ asset('img/anthicon.png') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ asset('js/list.min.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('css/grayscale.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.sTags.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <script src="{{ asset('js/typedjs.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>

    <script src="{{ asset('js/typedjs.js') }}"></script>
    <script src="{{ asset('js/jquery.sTags.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="{{ asset('js/tooltip.js') }}"></script>
    <script src="{{ asset('js/animate.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/bindings/inputmask.binding.js" integrity="sha256-s+S/OkGLEXvkow2ZjpfLO8A/LgwYlTpjcDUhhoNpl5U=" crossorigin="anonymous"></script>
    {#    <script src="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"></script>#}
{#    <script src="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"></script>#}
    {% block stylesheets %}{% endblock %}
    {% block javascriptStyles %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light text-white-50 d-none d-md-flex">
    <a class="navbar-brand text-white-50" href="{{ path('index') }}">Antheia</a>
    <button class="navbar-toggler d-lg-none"
            style="border-color: transparent; color: white; filter: opacity(50%); font-size: 30px;" type="button"
            data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white-50" href="{{ path('preston') }}">preston</a>
            </li>
        </ul>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a id="manual" class="navbar-brand text-white-50 mr-md-4" href=""><i class="far fa-question-circle" style="font-size: 25px"></i></a>
            <a id="ideas" href="{{ path('ideas_new') }}" class="navbar-brand text-white-50 mr-md-4"><i class="far fa-lightbulb" style="font-size: 25px"></i></a>
            <div class="mr-4">
            {% if is_granted('ROLE_ADMIN') %}
                <a id="updateDatabase" class="navbar-brand text-white-50 mr-md-3" href="{{ path('update_trello_database') }}"><i class="fas fa-user-plus" style="font-size: 25px"></i></a>
                <a id="createAccess" class="navbar-brand text-white-50 mr-md-3" href="{{ path('create_access') }}"><i class="fas fa-at" style="font-size: 25px"></i></a>
            {% endif %}
                <a id="showMyRewards" href="{{ path('show_user_rewards', {'id': user.userId.id}) }}"><i class="fas fa-trophy" style="font-size: 25px"></i></a>
            </div>
            <a name="logout" id="logout"
               style="background: #8f3d4b; filter: opacity(95%); padding: 25px; border-radius: 35px"
            href="{{ path('app_logout') }}" role="button"><i class="fas fa-sign-out-alt" style="font-size: 25px"></i></a>
        {% else %}
            <a name="login" id="login" style="background: #1b2735; padding: 25px; border-radius: 35px"
            href="{{ path('app_login') }}" role="button"><i class="fas fa-sign-in-alt" style="font-size: 25px"></i></a>
        {% endif %}

    </div>
</nav>
{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}

<script>
    $(document).ready(function () {
        $("#updateDatabase").balloon({
            html: true,
            position: "bottom",
            tipSize: 25,
            css: {
                border: 'solid 2px #5baec0',
                borderRadius: '15px',
                padding: '1px',
                fontSize: '150%',
                fontWeight: 'bold',
                lineHeight: '1',
                backgroundColor: '#666',
                color: '#fff'
            },
            contents: $("<p style='text-align: center; margin-top: 15px; font-family: `lato`, sans-serif; font-size: 15px; width: 150px;'>new user</p>")
        });
        $("#ideas").balloon({
            html: true,
            position: "bottom",
            tipSize: 25,
            css: {
                border: 'solid 2px #5baec0',
                borderRadius: '15px',
                padding: '1px',
                fontSize: '150%',
                fontWeight: 'bold',
                lineHeight: '1',
                backgroundColor: '#666',
                color: '#fff'
            },
            contents: $("<p style='text-align: center; margin-top: 15px; font-family: `lato`, sans-serif; font-size: 15px; width: 150px;'>new ideas</p>")
        });
        $("#manual").balloon({
            html: true,
            position: "bottom",
            tipSize: 25,
            css: {
                border: 'solid 2px #5baec0',
                borderRadius: '15px',
                padding: '1px',
                fontSize: '150%',
                fontWeight: 'bold',
                lineHeight: '1',
                backgroundColor: '#666',
                color: '#fff'
            },
            contents: $("<p style='text-align: center; margin-top: 15px; font-family: `lato`, sans-serif; font-size: 15px; width: 150px;'>how to use</p>")
        });
        $("#createAccess").balloon({
            html: true,
            position: "bottom",
            tipSize: 25,
            css: {
                border: 'solid 2px #5baec0',
                borderRadius: '15px',
                padding: '1px',
                fontSize: '150%',
                fontWeight: 'bold',
                lineHeight: '1',
                backgroundColor: '#666',
                color: '#fff'
            },
            contents: $("<p style='text-align: center; margin-top: 15px; font-family: `lato`, sans-serif; font-size: 15px; width: 150px;'>create access</p>")
        });
        $("#showMyRewards").balloon({
            html: true,
            position: "bottom",
            tipSize: 25,
            css: {
                border: 'solid 2px #5baec0',
                borderRadius: '15px',
                padding: '1px',
                fontSize: '150%',
                fontWeight: 'bold',
                lineHeight: '1',
                backgroundColor: '#666',
                color: '#fff'
            },
            contents: $("<p style='text-align: center; margin-top: 15px; font-family: `lato`, sans-serif; font-size: 15px; width: 150px;'>show my rewards</p>")
        });
    })

</script>

{% block footer %}
    <footer class="d-md-none pt-2 pb-5 w-100 position-fixed" style="bottom: 0;height: 20px; background: #2b1d42; z-index: 500">

        <div class="mt-2 d-flex justify-content-around">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="text-white-50" href="{{ path('update_trello_database') }}"><i class="fas fa-user-plus" style="font-size: 25px"></i></a>
                <a class="text-white-50" href="{{ path('create_access') }}"><i class="fas fa-at" style="font-size: 25px"></i></a>
            {% endif %}
            <a href=""><i class="far fa-question-circle" style="font-size: 25px"></i></a>
            <a href="{{ path('show_user_rewards', {'id': user.userId.id}) }}"><i class="fas fa-trophy" style="font-size: 25px"></i></a>
            <a href="{{ path('preston') }}"><i class="fas fa-home" style="font-size: 25px"></i></a>
            <a href="{{ path('ideas_new') }}"><i class="far fa-lightbulb" style="font-size: 25px"></i></a>
            <a name="logout" id="logout" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt" style="font-size: 25px"></i></a>
        {% else %}
            <a name="login" id="login" style="background: #1b2735; padding: 25px; border-radius: 35px"
               href="{{ path('app_login') }}" role="button" style="font-size: 25px"><i class="fas fa-sign-in-alt" style="font-size: 25px"></i></a>
        {% endif %}
    </div>

    </footer>
{% endblock %}



</html>
