<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#1b2735">
    <link rel="icon" sizes="192x192" href="{{ asset('img/anthicon.png') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('css/grayscale.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.sTags.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"></script>
    <script src="{{ asset('js/typejs.js') }}"></script>
    <script src="{{ asset('js/jquery.sTags.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    {% block javascriptStyles %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light text-white-50">
    <a class="navbar-brand text-white-50" href="{{ path('index') }}">Antheia</a>
    <button class="navbar-toggler d-lg-none"  style="border-color: transparent; color: white; filter: opacity(50%); font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white-50" href="{{ path('preston') }}">preston</a>
            </li>
        </ul>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-brand text-white-50 mr-md-3" href="{{ path('update_trello_database') }}">Update database</a>
                <a class="navbar-brand text-white-50 mr-md-3" href="{{ path('create_access') }}">Create user access</a>
            {% endif %}
            <a name="logout" id="logout" style="background: #261b30; filter: opacity(95%); padding: 25px; border-radius: 35px" href="{{ path('app_logout') }}" role="button">logout</a>
        {% else %}
            <a name="login" id="login" style="background: #1b2735; padding: 25px; border-radius: 35px" href="{{ path('app_login') }}" role="button">login</a>
        {% endif %}

    </div>
</nav>
{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}
</html>
