{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        body {
            background: #0f6674;
        }
        input {
            font-family:"lato", sans-serif;
        }

        @media only screen and (min-width: 1335px) {
            #slack_user_username {
                margin-left: -100%;
                width: 200%;
            }
            #slack_user_dataDeNascimento{
                margin-left: -100%;
                width: 200%;
            }
            #slack_user_startDate{
                margin-left: -100%;
                width: 200%;
            }
            #slack_user_email{
                margin-left: -100%;
                width: 200%;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <section class="jumbotron" style="background: #1b2735">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert bg-success" role="alert">
                <strong>
                    {{ flashMessage }}
                    <img src="{{ asset('img/animat-essential/checkmark/animat-checkmark.gif') }}" style="height: 60px; width: 60px; -webkit-filter: invert(100%);filter: invert(100%);" alt="ok">
                </strong>
            </div>
        {% endfor %}
        
        <h1 class="text-white mb-md-5">{{ slackUser.username }}</h1>
        <div class="d-flex">
            <form method="post" class="col-md-5">
                {{ form_start(form) }}

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.username) }}</div>
                    <div>{{ form_widget(form.username) }}</div>
                </div>

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.dataDeNascimento) }}</div>
                    <div>{{ form_widget(form.dataDeNascimento) }}</div>
                </div>

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.startDate) }}</div>
                    <div>{{ form_widget(form.startDate) }}</div>
                </div>

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.email) }}</div>
                    <div>{{ form_widget(form.email) }}</div>
                </div>

                <div class="d-flex flex-row justify-content-between">
                    <a style="font-size: 30px" href="{{ path('preston') }}"><i class="fas fa-arrow-circle-left"></i></a>
                    <button class="pt-1 pb-1" type="submit">save</button>
                </div>

                {{ form_end(form) }}
            </form>

        </div>

        <div class="float-md-right mt-5 mt-md-0">
            <a class="text-danger" href="{{ path('remove_user', {"id": slackUser.id}) }}">delete user</a>
        </div>

    </section>
{% endblock %}