{% extends "base.html.twig" %}

{% block title %}Edit user{% endblock %}

{% block stylesheets %}
    <style>
        input {
            font-family: "lato", sans-serif;
        }

        .formUserAccess label {
            color: #1b1e21 !important;
        }

        #usuario_permissoes label {
            color: #1b1e21 !important;
        }

        @media only screen and (min-width: 1335px) {
            #slack_user_username {
                margin-left: -100%;
                width: 200%;
            }

            #slack_user_dataDeNascimento {
                margin-left: -100%;
                width: 200%;
            }

            #slack_user_startDate {
                margin-left: -100%;
                width: 200%;
            }

            #slack_user_email {
                margin-left: -100%;
                width: 200%;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/backGround.css') }}">

    <section class="jumbotron" style="background: #1b2735">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert bg-success" role="alert">
                <strong>
                    {{ flashMessage }}
                    <img src="{{ asset('img/animat-essential/checkmark/animat-checkmark.gif') }}"
                         style="height: 60px; width: 60px; -webkit-filter: invert(100%);filter: invert(100%);" alt="ok">
                </strong>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert bg-danger" role="alert">
                <strong>
                    {{ flashMessage }}
                    <img src="{{ asset('img/animat-essential/customize/animat-customize.gif') }}"
                         style="height: 60px; width: 60px; -webkit-filter: invert(100%);filter: invert(100%);"
                         alt="error">
                </strong>
            </div>
        {% endfor %}

        <h1 class="text-white mb-md-5">{{ slackUser.username }}</h1>
        {% if slackUser.userAccess.login is defined %}

            <!-- Button trigger modal -->
            <button type="button" class="button pt-2 pb-2 mb-5 mt-5" data-toggle="modal" data-target="#modelId">
                User access
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark">Access to {{ slackUser.username }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="submitUserAccess" method="post"
                              action="{{ path('save_user_access', {"id": slackUser.id}) }}">
                            <div class="modal-body">
                                <div class="container-fluid">

                                    <p class="formUserAccess">{{ form_label(userSaveForm.login) }}</p>
                                    <p>{{ form_widget(userSaveForm.login) }}</p>

                                    <p class="formUserAccess">{{ form_label(userSaveForm.name) }}</p>
                                    <p>{{ form_widget(userSaveForm.name) }}</p>

                                    <p class="formUserAccess">{{ form_label(userSaveForm.senha) }}</p>
                                    <p>{{ form_widget(userSaveForm.senha) }}</p>

                                    <p class="formUserAccess">{{ form_label(userSaveForm.permissoes) }}</p>
                                    <p>{{ form_widget(userSaveForm.permissoes) }}</p>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#exampleModal').on('show.bs.modal', event => {
                        var button = $(event.relatedTarget);
                        var modal = $(this);
                        // Use above variables to manipulate the DOM

                    });
                })
            </script>

        {% else %}
            <a href="{{ path('add_user_access', {"id" : slackUser.id}) }}"
               class="text-white float-md-right d-inline-flex pt-1 pb-1 pt-md-3 pb-md-3 mt-4 mb-4 mt-md-0 mb-md-0"
               style="background: #133514; padding: 25px; border-radius: 35px">create access to user</a>
        {% endif %}
        <div class="d-flex">
            <form method="post" class="col-md-5">
                {{ form_start(form) }}

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.username) }}</div>
                    <div>{{ form_widget(form.username) }}</div>
                </div>

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.dataDeNascimento) }}</div>
                    <div>{{ form_widget(form.dataDeNascimento) }}</div>
                </div>

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.startDate) }}</div>
                    <div>{{ form_widget(form.startDate) }}</div>
                </div>

                <div class="d-flex flex-md-row flex-column justify-content-between mb-2">
                    <div style="font-family: 'lato', sans-serif;">{{ form_label(form.email) }}</div>
                    <div>{{ form_widget(form.email) }}</div>
                </div>

                <div class="d-flex flex-row justify-content-between">
                    <a style="font-size: 30px" href="{{ path('preston') }}"><i class="fas fa-arrow-circle-left"></i></a>
                    <button class="pt-1 pb-1" type="submit">save</button>
                </div>

                {{ form_end(form) }}
            </form>

        </div>

        <div class="float-md-right mt-5 mt-md-0">
            <a class="text-danger border-0" style="cursor: pointer" data-toggle="modal" data-target="#confirmDelete">
                delete user
            </a>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-dark" style="font-size: 25px">
                        Are you sure you want to delete {{ slackUser.username }} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ path('remove_user', {"id": slackUser.id}) }}" style="font-family: 'lato', sans-serif;" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}