{% extends "base.html.twig" %}

 {% block body %}
     <link rel="stylesheet" href="{{ asset('css/back.css') }}">

     <div class="context">
         <div class="jumbotron bg-transparent">

             {% for flashMessage in app.session.flashbag.get('notice') %}
                 <div class="alert bg-success" role="alert">
                     <strong>
                         {{ flashMessage }}
                         <img src="{{ asset('img/animat-essential/checkmark/animat-checkmark.gif') }}" style="height: 60px; width: 60px; -webkit-filter: invert(100%);filter: invert(100%);" alt="ok">
                     </strong>
                 </div>
             {% endfor %}

             <h5 class="mb-md-3">Preston control panel</h5>

             <p class="mb-md-5">Welcome, {{ user.login }} !</p>

             <table id="dtBasicExample" style="font-family: 'Roboto', sans-serif !important;"
                    class="table table-borderless text-white col-12 col-lg-12">
                 <thead>

                 </th>
                 <th>Id

                 </th>
                 <th>Name

                 </th>
                 <th>Email

                 </th>
                 <th>Birth date

                 </th>
                 <th>Rewards

                 </th>
                 <th>
                     Actions
                 </th>
                 </tr>
                 </thead>
                 <tbody class="table text-white">

                 {% for u in userDatabase %}
                     {% if u %}
                         <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                              aria-hidden="true">
                             <form class="formModal" id="form{{ u.id }}" method="post"
                                   style="font-family: 'Roboto', sans-serif !important;">
                                 <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <h5 class="modal-title text-dark">Reward</h5>
                                             <button type="button" class="close" data-dismiss="modal"
                                                     aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                         </div>
                                         <div class="modal-body">
                                             <textarea class="w-100" name="rewardDescription" placeholder="Reward's description"></textarea>
                                             <input name="tags" type="text" id="tags">
                                         </div>
                                         <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                 Close
                                             </button>
                                             <button type="submit" class="btn btn-primary">Save</button>
                                         </div>
                                     </div>
                                 </div>
                             </form>
                         </div>

                         <tr class="bg-transparent">
                             <td>{{ u.id }}</td>
                             <td class="username{{ u.id }}">{{ u.username }}</td>
                             <td>{{ u.email }}</td>
                             {% if u.dataDeNascimento is null %}
                                 <td>no birthdate</td>
                             {% else %}
                                 <td>{{ u.dataDeNascimento|date("d/m/Y") }}</td>
                             {% endif %}
                             <td>
                                 <span id="rewards{{ u.id }}">{{ u.premios|length }}</span>
                                 <a id="rewardBalloon{{ u.id }}" class="openModal{{ u.id }}" data-toggle="modal"
                                    data-target="#modelId"
                                    name="{{ u.id }}">
                                     <i class="fas fa-plus-circle cell"></i>
                                 </a>
                             </td>
                             <td>
                                 <a href="{{ path("edit_user", {"id": u.id}) }}">edit</a>
                             </td>
                         </tr>
                     {% endif %}
                 {% endfor %}
                 </tbody>

                 <tfoot>
                 <tr>
                     <th>Id
                     <th>Name
                     </th>
                     <th>Email
                     </th>
                     <th>Birth date
                     </th>
                     <th>Rewards
                     </th>
                     <th>
                         Actions
                     </th>
                 </tr>
                 </tfoot>
             </table>
         </div>
     </div>
     <div class="area">
         <ul class="circles">
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
         </ul>
     </div>

     <script src="{{ asset('js/tooltip.js') }}"></script>
     <script>
         // Basic example
         $(document).ready(function () {
             $('#dtBasicExample').DataTable({
                 responsive: true
             });
             $('.dataTables_length').addClass('bs-select');

             {% for u in userDatabase %}
             {% if u %}
             $(document).on("click", ".openModal{{ u.id }}", function () {
                 var id = $(".openModal{{ u.id }}").attr("name");
                 var nome = "{{ u.username }}";
                 $('.formModal').attr("name", id);
                 $('.formModal').attr("id", "form" + id);
                 $('.formModal').attr("action", "{{ path('add_reward', {"id": u.id}) }}");
                 $('.modal-title').text("Reward " + nome);
             });

             $("#rewardBalloon{{ u.id }}").balloon({
                 html: true,
                 contents: $("<p style='font-family: `lato`, sans-serif; font-size: 15px; width: 150px'>{{ u.premios|join(", ") }}</p>")
             });

             {% endif %}
             {% endfor %}

         });
         {% for u in userDatabase %}
         {% if u %}
         $(function () {
             $(document).on("submit", "#form{{ u.id }}", function (e) {

                 e.preventDefault();

                 var inputs = $("#tags");
                 var values = {};

                 inputs.each(function () {
                     values[this.name] = $(this).val();
                 });
                 $(function () {
                     $.ajax({
                         type: 'POST',
                         data: values,
                         url: '{{ path('add_reward', {"id": u.id}) }}',
                         success: function () {
                             Command: toastr["success"]("User {{ u.username }} rewarded");

                             toastr.options = {
                                 "closeButton": true,
                                 "debug": false,
                                 "newestOnTop": true,
                                 "progressBar": true,
                                 "positionClass": "toast-bottom-center",
                                 "preventDuplicates": false,
                                 "onclick": null,
                                 "showDuration": "300",
                                 "hideDuration": "1000",
                                 "timeOut": "5000",
                                 "extendedTimeOut": "1000",
                                 "showEasing": "swing",
                                 "hideEasing": "linear",
                                 "showMethod": "fadeIn",
                                 "hideMethod": "fadeOut",
                                 "shadowColor": "none"
                             };
                             console.log("ok")
                         },
                         error: function () {
                             Command: toastr["error"]("User {{ u.username }} cannot be rewarded");

                             toastr.options = {
                                 "closeButton": true,
                                 "debug": false,
                                 "newestOnTop": true,
                                 "progressBar": true,
                                 "positionClass": "toast-bottom-center",
                                 "preventDuplicates": false,
                                 "onclick": null,
                                 "showDuration": "300",
                                 "hideDuration": "1000",
                                 "timeOut": "5000",
                                 "extendedTimeOut": "1000",
                                 "showEasing": "swing",
                                 "hideEasing": "linear",
                                 "showMethod": "fadeIn",
                                 "hideMethod": "fadeOut",
                             };
                             console.log(`{{ path('add_reward', {"id": u.id}) }}`)
                         }
                     });
                 });
                 $(function () {
                     $.ajax({
                         type: 'GET',
                         data: values,
                         url: '{{ path('amount_rewards', {"id": u.id}) }}',
                         success: function (response) {
                             $("#rewards{{ u.id }}").html("<span>" + response + "</span>");
                         }
                     });
                 })
             });
         });
         {% endif %}
         {% endfor %}

         var tagsdata = []
         tagsdata.push({id: 1, name: "Faça", screen: "faca"});
         tagsdata.push({id: 2, name: "Crie", screen: "crie"});
         tagsdata.push({id: 3, name: "Ouse", screen: "ouse"});
         tagsdata.push({id: 4, name: "Conecte", screen: "conecte"});

         $("#tags").sTags({
             data: tagsdata,
             color: 1
         });
         $(".sTags").attr({"class": "d-flex justify-content-between"});

     </script>

 {% endblock %}
