{% extends "base.html.twig" %}
{% block title %}Update database{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 100%);
            background-size: 100% 100vh;
        }
    </style>
{% endblock %}

{% block body %}
    <body>
    <div class="jumbotron bg-transparent">
        <h1 class="d-flex align-items-center mb-md-5 text-white">
            <i class="fab fa-slack mr-md-4 mr-2" style="font-size: 60px; filter: opacity(60%)"></i>
            All Slack users
        </h1>

        <table id="dtBasicExample" style="font-family: 'Roboto', sans-serif !important;"
               class="table table-borderless text-white col-12 col-lg-12">
            <thead>
            </th>
            <th class="text-center">Id

            </th>
            <th class="text-center">Username

            </th>
            <th class="text-center"> Full name

            </th>
            <th class="text-center">Email
            </th>

            <th class="text-center">Active on Slack
            </th>

            <th class="text-center">Action
            </th>
            </thead>

            <tbody class="table text-white">
            {% for u in users %}
            {% if u %}
                {% if u.deleted == 1 %}
                    {% set status_text = '#dc3544' %}
                {% else %}
                    {% set status_text = '#129daf' %}
                {% endif %}
                <div style="color: #2457ff">
                <tr class="bg-transparent" onmouseover="style='filter: drop-shadow(1px 1px 5px #2457FF); cursor: default; color: {{ status_text }}'" onmouseleave="style= 'filter: none; color: {{ status_text }}'" style="color: {{ status_text }}">
                    <td class="userIdTable text-center">{{ u.id }}</td>
                    <td class="text-center username{{ u.id }}" name="{{ u.name }}">{{ u.name }}</td>
                    {% if u.real_name is defined %}
                        <td class="text-center">{{ u.real_name }}</td>
                    {% else %}
                        <td class="text-center">no full name set</td>
                    {% endif %}
                    {% if u.profile.email is defined %}
                        <td class="text-center">{{ u.profile.email }}</td>
                    {% else %}
                        <td class="text-center">no email set</td>
                    {% endif %}
                    {% if u.deleted == 0 %}
                        <td class="text-info text-center">active</td>
                    {% else %}
                        <td class="text-center"><strong class="text-danger">not active</strong></td>
                    {% endif %}
                    <td class="text-center">
                        <form id="{{ u.id }}">
                            <input type="hidden" name="userId" value="{{ u.id }}">
                            <button class="pt-0 pb-0 border-0">add to database</button>
                        </form>
                    </td>
                </tr>
                <script>
                    $(function () {
                        $(document).on("submit","#{{ u.id }}",function (e) {
                            e.preventDefault();

                            var inputs = $("#{{ u.id }} :input");
                            var values = {};

                            inputs.each(function () {
                                values[this.name] = $(this).val();
                            });
                            $(function () {
                                $.ajax({
                                    type: 'POST',
                                    data: values,
                                    url: '{{ path('check_user_in_database') }}',
                                    success: function (response) {
                                        Command: toastr["success"]("User {{ u.name }} added to database")

                                        toastr.options = {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": true,
                                            "progressBar": true,
                                            "positionClass": "toast-bottom-center",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut",
                                            "shadowColor": "none"
                                        };
                                        console.log(response)
                                    },
                                    error: function (response) {
                                        Command: toastr["error"]("User already in database")

                                        toastr.options = {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": true,
                                            "progressBar": true,
                                            "positionClass": "toast-bottom-center",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut",
                                        };
                                        console.log(response)
                                    }
                                })
                            });
                        });
                    });
                </script>
            {% endif %}
                {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                </th>
                <th class="text-center">Id

                </th>
                <th class="text-center">Username

                </th>
                <th class="text-center"> Full name

                </th>
                <th class="text-center">Email
                </th>

                <th class="text-center">Active on Slack
                </th>

                <th class="text-center">Action
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="test"></div>
    </body>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                responsive: true,
                "pagingType": "simple"
            });
            $('.dataTables_length').addClass('bs-select');
        });


    </script>
{% endblock %}