{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        body {
            background: #0f6674;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="jumbotron bg-dark">
    <h1 class="text-white">{{ userAndRewards.username }}</h1>
    <ul class="text-white list-group bg-dark">
        <h4 class="pt-md-4 pb-md-4">Rewards :</h4>
    {% for i in range(0, userAndRewards.rewards["dates"]|length-1) %}
        <li class="list-group-item bg-dark pt-md-4 border-0">
            <p>Reward date : {{ userAndRewards.rewards["dates"][i]|date("d/m/Y") }}</p>
            <p>Rewards : {{ userAndRewards.rewards["rewards"][i]|join(", ") }} </p>
            <p>Description : {{ userAndRewards.rewards['description'][i]|join("") }}</p>
        </li>
    {% endfor %}
    </ul>
        <a style="font-size: 30px" href="{{ path('preston') }}"><i class="fas fa-arrow-circle-left"></i></a>
    </div>

{% endblock %}